################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Seagull/Temp
/Seagull/Library
/Seagull/obj/Debug
/Seagull/bird_bin
